@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a,
a:link {
    margin: 0;
    text-decoration: none;
}

/*--- HEADINGS ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

/*--- FONT-STYLE ---*/

.display01 {
    font-size: 160px;
}

.display02 {
    font-size: 120px;
}

.display03 {
    font-size: 80px;
}

.display01,
.display02,
.display03 {
    line-height: 1.2;
}

.font-small {
    font-size: 0.875rem;
}

.font-tiny {
    font-size: 0.750rem;
}

.font-bold {
    font-weight: 700;
}

.font-heavy {
    font-weight: 900;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-apps {
    width: 1320px;
}

.card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    max-width: 416px;
    /* width: 32%; */
    margin: 12px;
}

.card-image-container {
    /* display: inline-block; */
    overflow: hidden;
    /* This will make sure your image doesn't exceed the border when it scales */
    border-radius: 16px 16px 0px 0px;
    /* box-shadow: 0 0 0 1px #F2F2F2; */
    /* This will be your border. Adjust as needed. */
}

.card-image-container img {
    /* display: block; */
    border-radius: 16px 16px 0px 0px;
    transition: transform 300ms ease-in-out;
}

.card-image-container img:hover {
    transform: scale(1.2);
}

.card-info {
    /* box-sizing: border-box; */
    /* padding: 20px 32px; */
    padding: 19px 31px;
    border: solid #F2F2F2;
    border-top: solid #FFFFFF;
    border-width: 1px;
}

.tool-content {
    display: flex;
    flex-direction: column;
}

.tool-content h6 {
    color: #020202;
    margin-bottom: 12px;
}

.tool-content p {
    color: #525252;
    height: 42px;
}

.tool-model {
    display: flex;
    justify-content: space-between;
}

.tool-type {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 16px 16px;
}

.icon-share {
    width: 24px;
    height: 24px;
}